.client-picture{
    height: 70px;
    width: 70px;
}
.client-picture img{
    display:block;
    width: 100%;
    border: 4px solid blue;
    border-radius: 50%;
}
.client-review{
display: none;
}
.client-info{
    display: none;
}
.owl-item.active.center .client-picture{
    height: 120px;
    width: 120px;
}
.owl-item.active.center .client-review{
    position: absolute;
    display:block;
    width: 800px;
    top: 120%;
    bottom: 0;
    left: -125%;
    right: 0;
}
.owl-item.active.center .client-info {
    /* position: absolute; */
    widows: 200px;
    display: block;
    width: 300px;
    position: absolute;
    top: 181%;
    left: -26%;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    padding-bottom: 300px;
    -webkit-transform: translate3d(0,0,0);
}
.client-info h2{
    font-size: 20px;
    font-weight: bold;
    color: deepskyblue;
}
.client-info h5{
    font-size:  14px;
    color: grey;
}
svg.svg-inline--fa.fa-angle-left.fa-w-8 {
    position: absolute;
    top: 40%;
    left:-5%;
    height: 40px;
    width: 50px;
  
}
svg.svg-inline--fa.fa-angle-right.fa-w-8 {
    position: absolute;
    top: 40%;
    right: -3.8%;
    height: 40px;
    width: 50px;
     
}